In [2]:
import pandas as pd
import numpy as np

In [12]:
# LOAD AND COMBINE 
import glob
path = 'C:\\Users\\Nyla Majid\\OneDrive\\Documents\\cyclist project'
all_files = glob.glob(path + "/*.csv")

data= pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.68,member
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.63,member
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,NaN,NaN,NaN,NaN,41.95,-87.65,41.97,-87.66,member
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,NaN,NaN,NaN,NaN,41.97,-87.67,41.95,-87.65,member
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,NaN,NaN,NaN,NaN,41.79,-87.60,41.77,-87.62,member

In [13]:
data.shape

(5901463, 13)

In [16]:
#DROP ROWS WITH MISSING INFO
data.dropna(subset=['start_station_name','end_station_name','started_at','ended_at'],inplace=True)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4629230 entries, 30 to 5901289
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 494.5+ MB

In [9]:
data.shape

(3818004, 24)

In [21]:
#CONVERTING DATA TYPES
data['started_at']=pd.to_datetime(data['started_at'])
data['ended_at']=pd.to_datetime(data['ended_at'])
data.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [23]:
#RIDE LENGTH IN MINUTES
data['ride_length']=(data['ended_at'] - data['started_at']).dt.total_seconds()/60
data.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length
30,DD06751C6019D865,classic_bike,2021-08-08 17:21:26,2021-08-08 17:25:37,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,member,4.183333
36,79973DC3B232048F,classic_bike,2021-08-27 08:53:52,2021-08-27 09:18:29,Larrabee St & Armitage Ave,TA1309000006,Michigan Ave & Oak St,13042,41.918084,-87.643749,41.900960,-87.623777,member,24.616667
40,0249AD4B258806AD,classic_bike,2021-08-08 12:59:18,2021-08-08 12:59:55,Aberdeen St & Jackson Blvd,13157,Aberdeen St & Jackson Blvd,13157,41.877726,-87.654787,41.877726,-87.654787,member,0.616667

In [25]:
#filtering invalid ride
data=data[data['ride_length']>0]

In [39]:
# ADDINH TIME FEATURES
data.loc[:,'weekday']=data['started_at'].dt.day_name()
data.loc[:,'month']=data['started_at'].dt.month_name()
data.loc[:,'hour']=data['started_at'].dt.hour
data.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,weekday,month,hour
30,DD06751C6019D865,classic_bike,2021-08-08 17:21:26,2021-08-08 17:25:37,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,member,4.183333,Sunday,August,17
36,79973DC3B232048F,classic_bike,2021-08-27 08:53:52,2021-08-27 09:18:29,Larrabee St & Armitage Ave,TA1309000006,Michigan Ave & Oak St,13042,41.918084,-87.643749,41.900960,-87.623777,member,24.616667,Friday,August,8
40,0249AD4B258806AD,classic_bike,2021-08-08 12:59:18,2021-08-08 12:59:55,Aberdeen St & Jackson Blvd,13157,Aberdeen St & Jackson Blvd,13157,41.877726,-87.654787,41.877726,-87.654787,member,0.616667,Sunday,August,12

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4628957 entries, 30 to 5901289
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  ride_length         float64
 14  weekday             object
 15  month               object
 16  hour                int32
dtypes: datetime64[ns](2), float64(5), int32(1), object(9)
memory usage: 618.0+ MB

In [42]:
#SAVING CLEAN DATA SET FOR POWERBI
data.to_csv('C:\\Users\\Nyla Majid\\OneDrive\\Documents\\cyclist project\\cyclist_cleaned.csv',index = False)